<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Article
    </h2>
    <form class="edit-article-form">
        <div>
            <input name="article-title" type="text" value="{{article.title}}" />
            <textarea id="article-text" name="article-text" rows="10" cols="50"></textarea>
        </div>
        <div>
            <a href="/article/{{article.id}}">{{article.comments.length}} {{format_plural "comment" article.comments.length}}</a>
        </div>
        <button type="submit">Save article</button>
        <button type="button" class="delete-article-btn">Delete article</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>

{{> comments article.comments}}
<script src="/javascript/edit-article.js"></script>
<script src="/javascript/delete-article.js"></script>
<script src="/javascript/comment.js"></script>